<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>   
    <add name="MyKey"
         connectionString="SERVER=wangh86.cucstudents.org; DATABASE=wangh86_ReactCRM; UID=wangh86_SySadmin; PWD=DeepMind24;"
         providerName="MySql.Data.MySqlClient"/>
</connectionStrings>
</configuration>

