<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
<connectionStrings>   
    <add name="MyKey"
         connectionString="SERVER=wangh86.cucstudents.org; DATABASE=wangh86_Airline; UID=wangh86_SySadmin; PWD=DeepMind24;"
         providerName="MySql.Data.MySqlClient"/>
</connectionStrings>
</configuration>

<!--connectionString="SERVER=ac1396.cucstudents.org;DATABASE=ac1396_Azman_Sys;UID=ac1396_admin;PASSWORD=Password123!;SslMode=none;"-->
<!--connectionString="SERVER=109.203.118.206;Port=2083;DATABASE=wangh86_Azman_SyS;UID=wangh86_SySadmin;PASSWORD=DeepMind24;SslMode=none;"-->
<!--connectionString="SERVER=109.203.118.206:2083;DATABASE=wangh86_Azman_SyS;UID=wangh86_SySadmin;PASSWORD=DeepMind24;SslMode=none;"-->
<!--connectionString="SERVER=localhost;DATABASE=wangh86_azman_sys;UID=root;PASSWORD=;Convert Zero Datetime=true;"-->

<!--connectionString="SERVER=wangh86.cucstudents.org; DATABASE=wangh86_Azman_SyS; UID=wangh86_SySadmin; PWD=DeepMind24; SslMode=none;"-->
